#pointer{
	height: 300px;
	padding: 0 28px;
}

.pointer_workspace{
	/*display: ;*/
	position: relative;
	clip-path: inset(0 0 0 0 round 18px);
	border-radius: 18px;
	background-color: var(--background-deep-dark);
	height: 100%;
	cursor: none;
}

.pointer_info{
	position: absolute;
	pointer-events: none;
	top:0;
	left: 0;
	height: 100%;
	width: 200px;
	font-size: 14px;
	line-height: 12px;
	color: var(--text-dark-accent);
}

.pointer_info_container{	
	padding: 10px 10px;
}


.pointer_info_container .value{
	padding-left: 10px;
}




.rulerX{
	display: none;
	position: absolute;	
	pointer-events: none;
	height: inherit;
	width: 1px;
	background-color: var(--border-gray);
}
.rulerY{
	display: none;
	position: absolute;	
	pointer-events: none;
	width: 100%;
	height: 1px;
	background-color: var(--border-gray);
}