.viewport{
	overflow: overlay;
}


.viewport::-webkit-scrollbar{	
	display: none;
}

.viewport_сontent{
	height: 100%;
}

.scrollbar{
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 4px;
	background-color: transparent;
	cursor: pointer;
}

.scrollbar_track{	
	position: relative;
	height: 4px;
	margin: 0px 20px;
	border-radius: 5px;
	background-color: #77777711;	
}

.scrollbar_thumb{
	position: absolute;	
	/*width: 20px;*/
	height: 4px;
	border-radius: 4px;
	background-color: #77777740;	
}