body{
	background-color:#202020;
	margin: 0px;
}

#stat1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: auto;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}

#block1{
	display: flex;
	flex-direction: column;	
	height: auto;
	width: 28%;
	padding: 0px 40px 0px 40px;
	text-align: left;
}

.b1_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 80px;
	margin: 20px 0px 20px 0px;

	font-size: 40px;
	font-weight: 700;
	color: #e8e8e8;
}

.b1_content{
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	height: auto;

	font-size: 18px;
	font-weight: 200;
	color: #a7a7a7;
}

/*Параметры кнопок b1_button*/
.b1_button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	margin-top: 40px;
	padding: 0px;

	border-style: solid;
	border-width: 1px;
	border-color: #a7a7a7;
	border-radius: 18px;
	text-align: center;
	background-color:#202020;		

	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 200;	 
	color: #a7a7a7;
}
.b1_button img{
	height: 16px;
	padding-left: 12px;
}
.b1_button svg{
	padding-left: 12px;
 	stroke:#a7a7a7;
 	width: 17px; 
 	height: 17px;
 	transition-property: stroke;
	transition-duration: 500ms;
}

/*Параметры анимации для b1_button*/
.b1_button{
	transition-property: color,border-color,box-shadow;
	transition-duration: 500ms;
}


/*Параметры cтрок b1_option*/
.b1_optionLine{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 8px 0px 8px 0px;
	align-items: center;
}

/*Параметры b1_form*/

.b1_form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: 8px 0px 8px 0px;	
}

.b1_form input{
	display: flex;
	width: 60px;
	height: 28px;
	padding: 0px;

	border-radius: 28px;
	border: none;
	outline: none;
	background-color: #121212;
	box-shadow: 0px 0px 12px 0px #5c5c5c;

	text-align: center;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #a7a7a7;
}

/*Параметры b1_switch*/

.b1_switch {
  display: flex;
  height: 28px;  
  width: 60px;
}

.b1_switch input {
  display:none; 
}

.b1_slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  background-color:#121212;
  transition: .4s;

  box-shadow: 0px 0px 12px 0px #5c5c5c;
}

.b1_slider:before {
  display: flex;
  height: 20px;
  width: 20px;
  margin: 0px 4px 0px 4px;
  background-color: #a7a7a7;
  content: "";
  transition: .4s;
  
  border-radius: 50%;
}

input:checked + .b1_slider {
}

input:checked + .b1_slider:before {
  transform: translateX(32px);
}

/*Параметры b1_textarea*/
#b1_textarea {
	display: flex;
	resize: none;
	width: auto;
	height: 100%;
	margin: 8px 0px 8px 0px;
	padding: 10px 10px 10px 10px;
	border: none;
	border-radius: 18px;

	background-color: #161616;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #a7a7a7;
}

#b1_textarea:focus{
	border: none;
	outline: none !important;
}

/*------------------------------------*/
.msgWrapper{
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 38px;
}
.msgCont{
	display: flex;
	height: 100%;
	margin: 0px 40px 0px 40px;
	background-color: #161616;
	border-radius: 0px 0px 18px 18px;
}


