.block_container{
	position: relative;
	border: solid 1px red;
	width: fit-content;
	display: flex;
}

.block_container span{
	position: absolute;
	top: 10px;
}

.brickInput{
	position: absolute;
	padding: 2px;
	/*text-align: center;*/
	height: 30px;
	border-width: 0px;
	border-radius: 6px;
	-webkit-appearance: none;	 
}

/*---------------------------*/
.fluidInput {
	position: absolute;
    display         : inline-block;
    vertical-align  : top;

    min-width       : 40px;
    height          : 30px;

    font-family     : Segoe-UI, sans-serif;
    font-size       : 12px;
    line-height     : 1.5em;

    padding         : 2px;
    border          : 0px;
    cursor          : text;
}


.fluidInput * {
    display         : inline;
}


.fluidInput br  {
    display         : none;
}


.fluidInput:empty:before {
    content         : attr(data-placeholder);
    color           : #ccc;
}