.block_container{
	position: relative;
	/*border: solid 1px red;*/
	width: fit-content;
	display: flex;
}

.input_area{
	width: 36px;	
	border-width: 0px;
	border-radius: 6px;
}

.input_area, .measure_span{
	min-width: 36px;
	position: absolute;
	box-sizing: border-box;		
	padding: 4px;
	text-align: center;
	height: 36px;
	
	font-size: 20px;
	font-family: Segoe UI;
	font-weight: bold; 
}

.measure_span{
	z-index: -100;
}

/*---------------------------
