.block_container{
	position: relative;
	/*border: solid 1px red;*/
	width: fit-content;
	display: flex;
	margin: 10px;
	clip-path: inset(0 0 0 0 round 6px);
	/*clip-path: path('M0 0 H30 L40 10 H60 L70 0 H131 V50 H70 L60 60 H40 L30 50 H0 Z');*/
}

.input_area{
	width: 36px;	
	border-width: 0px;
	border-radius: 6px;
}

.input_area, .measure_span{
	min-width: 36px;
	position: absolute;
	box-sizing: border-box;		
	padding: 4px;
	text-align: center;
	height: 36px;
	
	font-size: 20px;
	font-family: Segoe UI;
	font-weight: bold; 
}

.measure_span{
	z-index: -100;
}

/*---------------------------
